name: Deploy
on:
  workflow_call:
    inputs:
      is_pr:
        required: true
        type: boolean
    secrets:
      app_id:
        required: false
      private_key:
        required: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write # For peaceiris/actions-gh-pages
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: get nested property
        id: package_json
        uses: notiz-dev/github-action-json-property@a5a9c668b16513c737c3e1f8956772c99c73f6e8 # v0.2.0
        with:
          path: package.json
          prop_path: volta.node
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: ${{steps.package_json.outputs.prop}}
          cache: 'yarn'
      - run: yarn install
      - run: yarn build
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@32691ba7c9e7063bd457bd8f2a5703138591fa58 # v1.9.0
        if: "! inputs.is_pr"
        with:
          app_id: ${{ secrets.app_id }}
          private_key: ${{ secrets.private_key }}
          repositories: >-
            [
              "tfaction"
            ]
          permissions: >-
            {
              "contents": "write"
            }
      - uses: peaceiris/actions-gh-pages@373f7f263a76c20808c831209c920827a82a2847 # v3.9.3
        if: "! inputs.is_pr"
        with:
          personal_token: ${{ steps.generate_token.outputs.token }}
          external_repository: suzuki-shunsuke/tfaction
          publish_dir: ./build
          destination_dir: ./docs
