name: Deploy
on:
  workflow_call:
    inputs:
      is_pr:
        required: true
        type: boolean
    secrets:
      app_id:
        required: false
      private_key:
        required: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write # For peaceiris/actions-gh-pages
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - name: get nested property
        id: package_json
        uses: notiz-dev/github-action-json-property@a5a9c668b16513c737c3e1f8956772c99c73f6e8 # v0.2.0
        with:
          path: package.json
          prop_path: volta.node
      - uses: actions/setup-node@e33196f7422957bea03ed53f6fbb155025ffc7b8 # v3.7.0
        with:
          node-version: ${{steps.package_json.outputs.prop}}
          cache: 'yarn'
      - run: yarn install
      - run: yarn build
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@021a2405c7f990db57f5eae5397423dcc554159c # v1
        if: "! inputs.is_pr"
        with:
          app_id: ${{ secrets.app_id }}
          private_key: ${{ secrets.private_key }}
      - uses: peaceiris/actions-gh-pages@373f7f263a76c20808c831209c920827a82a2847 # v3.9.3
        if: "! inputs.is_pr"
        with:
          personal_token: ${{ steps.generate_token.outputs.token }}
          external_repository: suzuki-shunsuke/tfaction
          publish_dir: ./build
          destination_dir: ./docs
